<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rt.taopicker">

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- 可选-->
    <uses-permission android:name="android.permission.READ_LOGS"/> <!-- 获取logcat日志 -->

    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- ⽀支持iBeancon 需要蓝⽛牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- ⽀支持个推3.0 电⼦子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 个推SDK权限配置结束 -->

    <!--拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.login.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.home.activity.HomeActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".main.home.activity.EmployeeLoginActivity"
            android:screenOrientation="portrait"></activity>

        <!--拣货作业-->
        <activity
            android:name=".main.picker.activity.PickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--等待抢单-->
        <activity
            android:name=".main.picker.activity.PickerWaitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--缺货待盘点-->
        <activity
            android:name=".main.packing.activity.PackingSuspenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--包装扫拣货袋 -->
        <activity
            android:name=".main.packing.activity.PackingBrushVehicleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--包装扫物流箱 -->
        <activity
            android:name=".main.packing.activity.PackingBrushBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--暂存箱取货 -->
        <activity
            android:name=".main.packing.activity.PackingTakeGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--包装抢单页面 -->
        <activity
            android:name=".main.packing.activity.PackingWaitingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--包装 -->
        <activity
            android:name=".main.box.activity.LogisticsBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--人工下道口 -->
        <activity
            android:name=".main.crossing.activity.CrossingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--状态信息 -->
        <activity
            android:name=".main.status.activity.StatusInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--状态查询 -->
        <activity
            android:name=".main.status.activity.StatusViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--备用道口暂存 -->
        <activity
            android:name=".main.temporary.activity.TemporaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!--打印测试-->
        <activity
            android:name=".main.printer.activity.PrinterTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--缺货待盘点 -->
        <activity
            android:name=".main.lack.activity.OutStockActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".main.printer.activity.DeviceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 蒲公英 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="${PGYER_APP_ID}"/>
    </application>


</manifest>
